html
{
    background-color: darkorchid;
}
p
{
    color: navy;
}
.banana
{
    color: mediumseagreen;
}
.spoiled
{
    color: brown;
}
div
{
    color:palevioletred;
}
div span
{
    color: orange;
}
#apple
{
    color: white;
}
